---
name: Build Docker On Prem

on:
  workflow_call:
    inputs:
      subfolder:
        required: false
        type: string
        default: "./"
      dockerfileName:
        required: false
        type: string
        default: "Dockerfile"
      imageNameAddon:
        required: false
        type: string
        default: ""
      imageTag:
        required: false
        type: string
        default: ""
      branch-name:
        required: false
        type: string
        default: ${{ github.ref }}
      platforms:
        required: false
        type: string
        default: "linux/amd64"
      testImage:
        required: false
        type: boolean
        default: false
      testCommand:
        required: false
        type: string
        default: "/bin/sh"
    secrets:
      REGISTRY_PASSWORD:
        required: true

jobs:
  docker-onprem:
    timeout-minutes: 60
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0
        with:
          ref: ${{ inputs.branch-name }}
          fetch-depth: "0"

      - name: Git pull
        run: |
          git pull

      - name: Show space
        run: df -h

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Log into registry
        uses: docker/login-action@v3.6.0
        with:
          registry: registry.auch.ovh
          username: registry
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5.9.0
        with:
          images: registry.auch.ovh/${{github.repository}}${{inputs.imageNameAddon}}
          flavor: |
            latest=true
          tags: |
            type=raw,value=action-${{ github.run_id }}-${{ github.run_attempt }}
            type=semver,pattern={{version}}
            type=raw,value=${{inputs.imageTag}}

      - name: Build Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: ${{ inputs.subfolder }}
          platforms: ${{ inputs.platforms }}
          file: ${{ inputs.subfolder }}${{ inputs.dockerfileName }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: ${{ github.ref == 'refs/heads/main' }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
