---
name: Deploy Template Workflow

on:
  workflow_call:
    inputs:
      subfolder:
        required: false
        type: string
        default: './'
    secrets:
      KUBE_CONFIG_DATA:
        required: true
      KUBE_PULL_SECRET:
        required: false

env:
  REGISTRY: ghcr.io

jobs:
  check-files-and-deploy:
    timeout-minutes: 60
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: '0'

      - name: Check .env file existence
        id: check_files
        uses: andstor/file-existence-action@v3.0.0
        with:
          files: '.env'

      - uses: cardinalby/export-env-action@2.2.2
        if: steps.check_files.outputs.files_exists == 'true'
        with:
          envFile: '.env'
          expand: 'true'
          expandWithJobEnv: 'true'
          export: 'true'

      - name: Check for Secret availability
        id: secret-check
        shell: bash
        run: |
          if [ "${{ secrets.KUBE_PULL_SECRET }}" != '' ]; then
              echo "available=true" >> $GITHUB_OUTPUT;
          else
              echo "available=false" >> $GITHUB_OUTPUT;
          fi

      - name: Provide pull secret
        if: ${{ steps.secret-check.outputs.available == 'true' }}
        run: |
          rm --force --verbose ${{ inputs.subfolder }}pullsecret.yaml
          rm --force --verbose ${{ inputs.subfolder }}pullsecret.json
          curl https://raw.githubusercontent.com/PhilippAuch/workflows/main/pullsecret.txt -o ${{ inputs.subfolder }}pullsecret.txt
          export REGISTRY_HOST=${{ env.REGISTRY }}
          export GITHUB_TOKEN=${{ secrets.KUBE_PULL_SECRET }}
          export GITHUB_ACTOR=PhilippAuch
          export AUTH_ENCODED=$(echo $GITHUB_ACTOR:$GITHUB_TOKEN | base64 -w 0)
          cat ${{ inputs.subfolder }}pullsecret.txt | envsubst > ${{ inputs.subfolder }}pullsecret_filled.json
          export PULL_SECRET=$(cat ${{ inputs.subfolder }}pullsecret_filled.json | base64 -w 0)
          echo PULL_SECRET
          echo $PULL_SECRET
          echo "PULL_SECRET=$PULL_SECRET" >> $GITHUB_ENV

      - name: Replace ENV variables
        run: |
          cd ${{ inputs.subfolder }} && mkdir filled && for f in *.yaml; do envsubst < $f > filled/$f ; done

      - name: Debug log all filled yamls
        run: tail -n +1 ${{ inputs.subfolder }}filled/*.yaml

      - name: Validate files
        uses: docker://ghcr.io/yannh/kubeconform:master
        with:
          entrypoint: '/kubeconform'
          args: '-summary -skip AlertmanagerConfig -output json ${{ inputs.subfolder }}filled/'

      - name: Trigger deploy
        uses: actions-hub/kubectl@v1.34.3
        if: |
          env.KUBE_CONFIG != null &&
          ((github.event_name == 'workflow_dispatch' || github.event_name=='push' ||
          github.event_name == 'schedule') && github.ref == 'refs/heads/main')
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_DATA }}
        with:
          args: apply -f ${{ inputs.subfolder }}filled/ --v=4
