---
name: Publish to NPMJS registry

on:
  workflow_call:
    inputs:
      subfolder:
        required: false
        type: string
        default: "./"

jobs:
  publish-release:
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    if: |
      ((github.event_name == 'workflow_dispatch' || github.event_name=='push' ||
      github.event_name == 'schedule') && github.ref == 'refs/heads/main')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: "0"
          persist-credentials: true

      - name: Git pull
        run: git pull

      - name: Setup Node
        uses: actions/setup-node@v4.0.0
        with:
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"

      - name: Clean install dependencies
        run: npm ci

      - name: Build package
        run: npm run build

      - name: Publish version
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: Setup Vals
      #   run: |
      #     git config --global user.email "build@githubaction.com"
      #     git config --global user.name "build-githubaction"

      # - name: Increase version
      #   run: "npm version patch -m 'chore(release): %s [skip ci]'"

      # - name: Commit version
      #   run: |
      #     git show
      #     git push

      # - name: Publish to registry
      #   run: npm publish --provenance --access public
