---
name: Run Tests with Playwright

on:
  workflow_call:
    inputs:
      subfolder:
        required: false
        type: string
        default: './'
      branch-name:
        required: false
        type: string
        default: ${{ github.ref }}
      docker-compose-file:
        required: true
        type: string

env:
  REGISTRY: ghcr.io

jobs:
  playwright:
    runs-on: ubuntu-22.04
    timeout-minutes: 60

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0
        with:
          ref: ${{ inputs.branch-name }}
          fetch-depth: '0'

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 'lts/*'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Install dependencies
        uses: nick-fields/retry@v3.0.2
        with:
          timeout_minutes: 10
          max_attempts: 2
          command: cd ${{ inputs.subfolder }} && npm ci

      - name: Install Playwright Browsers
        uses: nick-fields/retry@v3.0.2
        with:
          timeout_minutes: 10
          max_attempts: 2
          command: cd ${{ inputs.subfolder }} && npx playwright install --with-deps

      - name: Pull docker images
        uses: nick-fields/retry@v3.0.2
        with:
          timeout_minutes: 2
          max_attempts: 3
          command: docker-compose -f ${{ inputs.docker-compose-file }} pull

      - name: Start docker images
        uses: nick-fields/retry@v3.0.2
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: docker-compose -f ${{ inputs.docker-compose-file }} up -d

      - name: Wait 60s for startup
        run: sleep 60

      - name: Run Playwright tests
        uses: nick-fields/retry@v3.0.2
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: cd ${{ inputs.subfolder }} && npx playwright test

      - name: Stop docker
        uses: nick-fields/retry@v3.0.2
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: docker-compose -f ${{ inputs.docker-compose-file }} down

      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: playwright-report
          path: ${{ inputs.subfolder }}playwright-report/
          retention-days: 1
